- content_for :head do
  = game_js(params.has_key?('compiled'))

#loadingbg
  %img{:alt => "", :src => image_path("vignette.png")}
  #loading
    #loadingpg
#vignette.hidden
  %img#vignetteimg{:alt => "", :src => image_path("vignette.png")}
#gamecontrolsdisplay.hidden
  #timers
    #minutesremaining.digit 2
    #secondsremainingtens.digit 0
    #secondsremainingones.digit 0
    #bombicon
    #bombsecondstens.digit 3
    #bombsecondsones.digit 0
    #progress
  #bestscore
  #score
  #smalllogo
  #instructions
  #pause
  #startover
  #sounds
    #musicbutton
      .off
      .on
    #soundsbutton
      .off
      .on
  #pixellab= link_to '', "http://thinkpixellab.com"
#game.hidden
  #tableborder
    #table
      #boom
      %canvas#shadow_canvas
      %canvas#demo_canvas
%canvas#cue_canvas.hidden
#gamecontrolsclick.hidden
  #instructionsclick
  #pauseclick
  #startoverclick
  #soundclick
    #musicbuttonclick
    #soundsbuttonclick
  #pixellabclick= link_to '', "http://thinkpixellab.com"
#overlay.hidden
  #messageoverlay
    #start
      #startmessage
    #resume
    #howtoplay
    #gameover
      #gameoverscore 00
      #gameovertwitter
      #gameoverfacebook
