[submodule "app/assets/javascripts/closure"]
	path = app/assets/javascripts/closure
	url = git://github.com/kevmoo/google-closure-library.git
[submodule "app/assets/javascripts/pl"]
	path = app/assets/javascripts/pl
	url = git://github.com/thinkpixellab/pl.git
