@import "compass/reset"
@import "compass/css3"

@mixin no-select
  -webkit-user-select: none
  -moz-user-select: none
  user-select: none

@import 'app'
@import "style"
@import "preload"
@import "game"