@font-face {
	font-family: 'MolotRegular';
	src: local('☺'), url('Molot-webfont.woff') format('woff'), url('Molot-webfont.ttf') format('truetype'), url('Molot-webfont.svg#webfontKlnjAJ1f') format('svg');
	font-weight: normal;
	font-style: normal;
}

