* {
    margin: 0px;
    padding: 0px;
}

html {
    height: 100%;
}

body {
    height: 100%;
    text-align: center;
}

#vignette {
    background-image: url("../images/wood.jpg");
    background-repeat: repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
}

#vignetteimg {
    margin: 0px;
    margin-bottom: -5px;
    padding: 0px;
    border: 0px;
}

.stretch {
    width: 100%;
    height: 100%;
}

.content {
    width: 860px;
    top: 50px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#gamecontrolsouter {
    display: none;
}

#game {
    display: none;
}

#tableborder {
    background-image: url("../images/tableborder.png");
    background-repeat: no-repeat;
    width: 1113px;
    height: 497px;
    position: absolute;
    top: 100px;
    left: -130px;
}

#table {
    background-image: url("../images/table.jpg");
    background-repeat: no-repeat;
    width: 847px;
    height: 438px;
    position: absolute;
    top: 19px;
    left: 137px;
}

#timeremaining {
    background-image: url("../images/timeremaining.png");
    background-repeat: no-repeat;
    font: 30px 'RadiolandRegular' , Arial, sans-serif;
    color: #cb512c;
    color: #b23711;
    letter-spacing: 0;
    width: 110px;
    height: 67px;
    position: absolute;
    padding-top: 5px;
    left: 10px;
    top: 20px;
}

#timeremaining .digit {
    text-align: right;
    position: absolute;
    bottom: 2px;
}
#minutesremaining {
    left: 28px;
}

#secondsremainingtens {
    left: 58px;
}

#secondsremainingones {
    left: 78px;
}

#score {
    background-image: url("../images/score.png");
    background-repeat: no-repeat;
    text-align: center;
    font: 30px 'MolotRegular' , Arial, sans-serif;
    color: #c34414;
    letter-spacing: 0;
    width: 81px;
    height: 71px;
    padding-top: 28px;
    padding-left: 0px;
    position: absolute;
    top: 17px;
    left: 759px;
}

#bestscore {
    background-image: url("../images/bestscore.png");
    background-repeat: no-repeat;
    text-align: center;
    font: 22px 'MolotRegular' , Arial, sans-serif;
    color: #47341d;
    letter-spacing: 0;
    width: 135px;
    height: 118px;
    padding-top: 56px;
    padding-left: 2px;
    position: absolute;
    top: -6px;
    left: 653px;
}

#progressbg {
    background-image: url("../images/progressbg.png");
    background-repeat: no-repeat;
    position: absolute;
    top: 45px;
    left: 130px;
    width: 446px;
    height: 36px;
}

#progress {
    background-image: url("../images/progressunit.png");
    background-repeat: repeat-x;
    position: absolute;
    top: 6px;
    left: 6px;
    width: 435px;
    height: 34px;
}

#sounds {
    left: 640px;
    top: 583px;
    position: absolute;
    background-image: url("../images/speaker.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 210px;
    height: 58px;
}

#musicbutton {
    position: absolute;
    height: 20px;
    width: 65px;
    top: 20px;
    cursor: pointer;
}

#musicbutton img {
    position: absolute;
    margin-top: 1px;
}

#soundsbutton {
    position: absolute;
    height: 20px;
    width: 80px;
    top: 20px;
    left: 120px;
    cursor: pointer;
}

#howtoplay {
    left: 49px;
    top: 167px;
    position: absolute;
    background-image: url("../images/howtoplay.png");
    background-repeat: no-repeat;
    width: 757px;
    height: 347px;
    display: none;
}

#smalllogo {
    left: 5px;
    top: 595px;
    position: absolute;
    background-image: url("../images/smalllogo.png");
    background-repeat: no-repeat;
    width: 237px;
    height: 42px;
}

#instructions {
    left: 274px;
    top: 598px;
    position: absolute;
    background-image: url("../images/instructions.png");
    background-repeat: no-repeat;
    width: 96px;
    height: 30px;
    cursor: pointer;
}

#pause {
    left: 380px;
    top: 579px;
    position: absolute;
    background-image: url("../images/pause.png");
    background-repeat: no-repeat;
    width: 89px;
    height: 71px;
    cursor: pointer;
}

#messageoverlay {
    top: -200px;
}

#startover {
    left: 492px;
    top: 598px;
    position: absolute;
    background-image: url("../images/startover.png");
    background-repeat: no-repeat;
    width: 83px;
    height: 30px;
}

#soundsbutton img {
    position: absolute;
    margin-left: 69px;
    margin-top: 1px;
}

#demo_canvas {
    left: 7px;
    top: 6px;
    position: absolute;
}

#cue_canvas {
    left: 0px;
    top: 0px;
    position: absolute;
    background-image: url("../images/transparent.png");
}

#overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: 100;
    background: #000000;
    opacity: 0.5;
    display: none;
}

.overlaymessage {
    font: 60px 'MolotRegular' , Arial, sans-serif;
    color: #ebd09c;
    letter-spacing: 1px;
    text-shadow: 7px 7px 6px rgba(0,0,0,0.5);
    cursor: pointer;
    text-align: center;
    position: absolute;
    top: 280px;
    width: 860px;
}

#loading {
    z-index: 400;
}

#start {
    z-index: 300;
    display: none;
}

#resume {
    z-index: 500;
    display: none;
}

#gameover {
    z-index: 500;
    display: none;
}

#loadingbg {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background-image: url("../images/loadingbg.png");
    background-repeat: repeat;
    -webkit-user-select: none;
    -moz-user-select: none;
    display: none;
}

#loading {
    width: 295px;
    height: 283px;
    background-image: url("../images/loading.jpg");
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
}
#loadingpg {
    width: 0px;
    height: 10px;
    background-image: url("../images/loadingpg.png");
    background-repeat: no-repeat;
    position: absolute;
    margin-top: 270px;
    margin-left: 36px;
}

.hidden {
    display: none;
}

html,body {
    background: black;
}
