!!! XML
!!! Strict
%html{html_attrs()}
  %head
    %title Agent 008 Ball
    %title Agent 008 Ball
    %meta{:content => "IE=9", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "Agent 008, you must sink as many balls as possible before the timer runs out.  Watchout for bomb balls!", :name => "description"}/
    %link{:href => image_path ('thumbnail_fb.jpg'), :rel => "image_src"}/
    %link{:href => "/favicon.ico", :rel => "shortcut icon"}/
    = stylesheet_link_tag '/fonts/cpmono/cpmono', '/fonts/molot/molot', '/fonts/radioland/radioland'
    = stylesheet_link_tag 'compiled/screen'
    %script{:src => "http://ajax.microsoft.com/ajax/jquery/jquery-1.4.2.min.js", :type => "text/javascript"}
    %script{:src => "_tools/closure-library/closure/goog/base.js", :type => "text/javascript"}
    %script{:src => "javascripts/deps.js", :type => "text/javascript"}
    %script{:src => "javascripts/loader.js", :type => "text/javascript"}
    = csrf_meta_tag
  %body
    = yield
